<h1>R4R Toronto🎉</h1>
<p style="font-size: 20px">Sign up <small>It's Free!</small> </p>

<p>Sign up and go check them out. 
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>
<h2> Features </h2>
<ul>
<li>Online Chat</li>
<li>Anonymity</li>
<li>Very open and welcoming (unless you're about anything illegal)</li>
<li>Zero tolerance policy towards escorting (go to leolist)</li>
</ul>
<h4> Best of all, this is just local for torontonians only. </h4>

