<h1>Welcome to Toronto TBP Org. </h1>
<h3>Meet Other Adults In Toronto</h3>

<text>if you've used AFF/Craigslist/Doublelist/etc. then you're used to things like </text>
<ul>
	<li>Paywalls</li>
	<li>Fake Users</li>
	<li>Spam</li>
	<li>Stalkers</li>
	<li>Shady practices</li>
	<li>Shitty service</li>
	<li>Sleazy Atmosphere</li>
</ul>

We made this website because we were fed up with all the terrible online solutions currently in play.
It's really not that difficult to ensure, for example, to prevent solicitation, or exploitation and abuse on your platform. We don't see anyone stepping up to meet this market need, so we did.
<br><br><mark>
<big> This <a href="https://www.reddit.com/r/dating/comments/8buw2v/why_online_dating_sucks_and_its_not_you_who_are/"><u>reddit post</u></a> sums it up perfectly. </big></mark>

<h2> We approve every single user & post manually </h2>
<big> It's the best way to prevent the kind of people we want to prevent in our community</big>
<br>
<p>
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>
<h2> Features </h2>
<ul>
<li>Online Chat</li>
<li>Private Messaging</li>
<li>Every account and every post ever made must be manually approved by the administrators. This means human eyes always make sure our rules are followed.</li>
<li>We do not allow escorts, or any other kind of solicitation/exploitatoin on here. You will be banned, and you will not be allowed to set foot in here.</li>
</ul>
<big> This web-app is only available for and intended for the residents residing in the City of Toronto, Canada </big>
<br>

<small> NOTHING HERE IN ANY WAY SHAPE OR FORM IS AFFILIATED WITH THE NOW-SEIZED THEBACKPAGE.COM DOMAIN. The name 'thebackpage.org' is owned by someone who thought it'd be funny to buy the name after hearing the news of tbp.com's closure. I have nothing to do with tbp.com, I'm just the guy that happened to find tbp.org as a domain name being available </small>

