<h1>R4R Toronto🎉</h1>
<h5> Just Toronto redditor a la Toronto redditor </h5>
<p>It's actually not hard to prevent abuse on your personals platform.</p><p><b> We done it. </b></p>
<p><bold>Please pm admin if interested in being a Moderator.</bold></p>
<p>Check out the
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>
<h2> Features </h2>
<ul>
<li>Online Chat</li>
<li>Anonymity</li>
<li>Very open and welcoming (unless you're about anything illegal</li>
<li>Zero tolerance policy towards escorting (go to leolist)</li>
</ul>
<h4> Best of all, this is just local for torontonians only. </h4>


<% end %>
