h1, h2, h3, h5 {
  font-weight: normal;
}

h1 {
    font-size: 2em;
    line-height: 1;

  @include thredded-media-tablet-and-up {
    font-size: 2em;
    font-weight: normal;
  }
  @include thredded-media-desktop-and-up {
    font-size: 2em;
    font-weight: normal;
  }
}

h2 {
  font-size: 1.5em;
  line-height: 1.5;

  @include thredded-media-tablet-and-up {
    font-size: 1.5em;
  }
  @include thredded-media-desktop-and-up {
    font-size: 2em;
  }
}

h3 {
  font-size: 1em;
  line-height: 1;
}
h5 {
  font-size: 1.3em;
  line-height: 1;
  
  @include thredded-media-tablet-and-up {
    font-size: 1.34em;
  }
  @include thredded-media-desktop-and-up {
    font-size: 1.5em;
}}
a {
  @extend %thredded--link;
}

blockquote {
  @extend %thredded--blockquote;
}

table {
  @extend %thredded--table;
}

hr {
  @extend %thredded--hr;
}
